.loginButtonContainer {
  width: 50%;
background-color: var(--LOGIN-SIGNUP);
  border-radius: 0 0 15px 15px;
  justify-self: center;
  padding-bottom: 10px;
}

.loginButtonTitle {
  padding-block: 5px;
  color: white;
  letter-spacing: 4px;
  font-size: 1rem;
  justify-self: center;
}

.loginButtonSlider {
  height: 30px;
  width: 20%;
  border-radius: 15px;
  background-color: var(--BGCOLOR);
  border: 2px inset #b393cc;
  justify-self: center;
  padding-bottom: 5px;
   display: flex;
  flex-direction: row-reverse;
}

.loginBtn {
  height: 29px;
  width: 50%;
  border-radius: 15px;
  background-color: #b393cc;
  z-index: 1;
  border: 2px outset var(--NAVBAR);
  position: relative;
  top: -1px;
  left: 2px;
}

.userForm{
    width: 50%;
    height: 100%;
    margin-block: auto;
    justify-self: center;
    background-color: var(--LOGIN-SIGNUP);
}
