.userRowContainer{
    width: 100%;
    margin-inline: auto;
}

.userRow{
    display: flex;
    justify-self: center;
    width: 80%;
    padding-block: 0.75em;
    padding-inline: 2%;
  }

.userCell{
    width: 50%;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.25em;
}

.userCellBtnContainer{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.userRowLine{
    border-bottom: 2px dashed white; 
    width: 90%;
    margin-inline: auto;
}