.navbarContainer {
  display: flex;
  width: 100%;
  background-color: var(--NAVBAR);
  color: white;
}

.navbarHome {
  padding-block: 5px;
  padding-inline: 2%;
  width: 80%;
  /* min-width: ; */
}

.navbarTitleContainer {
  text-decoration: none;
  width: 80%;
}

.navbarTitle {
  color: white;
  letter-spacing: 1px;
}

.navbarButtonContainer {
  width: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: #997eaf; */
  background-image: linear-gradient(270deg, #b393cc 70%, var(--NAVBAR));
  /* height: 100%; */
  padding-right: 2%;
  cursor: pointer;

  a {
    display: flex;
    /* flex-direction: row-reverse; */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

.navbarLogoutBtn {
  font-weight: 500;
  letter-spacing: 2px;
}

.navBtn {
  font-weight: 600;
  letter-spacing: 2px;
  display: none;
  color: white;
}

.navbarTitleContainer:hover,
.navbarButtonContainer:visited {
  .navbarTitle {
    color: purple;
  }
}

.navbarButtonContainer:hover,
.navbarButtonContainer:visited {
  width: 20%;
  margin-left: 0;
  .navBtn {
    display: flex;
  }

  .navBtnHolder {
    display: none;
  }
}
