logs
.env
node_modules/

# {
#   "id": "682a4d6ad58aa599643b5948",
#   "username": "XavierCarranza",
#   "password": "1107"
# }

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
