.mainPage {
  margin-inline: auto;
  width: 90%;
  height: auto;
  background-color: #c9b9d6;
  padding: 1.5em;
  border-radius: 15px;
  border: outset 3px var(--FORM-COLOR);
}

.mainPageHead {
  display: flex;
  width: 100%;
  padding: 0.5em;
  padding-bottom: 1em;
}

.mainPageTitle {
  width: 80%;
  font-size: 2.25rem;
  color: white;
}

.mainPageDate {
  width: 20%;
  height: auto;
  align-self: end;
  display: flex;
  justify-content: end;
}

.mainPageBody {
  padding-bottom: 1.25em;
}

.mainPageLinks {
  background-color: var(--FORM-COLOR);
  width: 60%;
  padding: 1em;
  padding-bottom: 0.5em;
  height: 10%;
  font-size: 1.25rem;
  border-radius: 15px;
  border: inset 3px #c9b9d6;
  justify-self: center;
}

.mainPageRecipeLink,
.mainPageUserLink {
  text-decoration: none;
  display: flex;
  color: purple;
  letter-spacing: 3px;
  font-weight: 600;
  justify-content: center;
  width: 100%;
}

.mainPageRecipeLink {
  padding-bottom: 10px;
}
